<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:context="http://www.springframework.org/schema/context"
xmlns:mvc="http://www.springframework.org/schema/mvc" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="
    http://www.springframework.org/schema/beans     
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">
	<mvc:annotation-driven /> 

	<context:component-scan base-package="com.logicq.logicq" />
	<bean id="applicationContextProvder" class="com.logicq.logicq.common.LogicqContextProvider" />

	<!-- User deatils etries for UI -->
	<bean id="userManagedBean" class="com.logicq.logicq.ui.user.bean.UserManagedBean" />
	<bean id="userBeanHelper" class="com.logicq.logicq.ui.user.helper.UserBeanHelper" />
	<bean id="userVO" class="com.logicq.logicq.ui.user.vo.UserVO" scope="request"/>
	<bean id="userSearchManagedBean" class="com.logicq.logicq.ui.search.bean.UserSearchManagedBean" />
    <bean id="userSearchBeanHelper" class="com.logicq.logicq.ui.search.helper.UserSearchBeanHelper" />
    <bean id="userSearchVO" class="com.logicq.logicq.ui.search.vo.UserSearchVO" scope="request"/>
    <bean id="userSearchRequest" class="com.logicq.logicq.ui.search.vo.UserSearchRequest" scope="request"/>
    <bean id="userSearchResponse" class="com.logicq.logicq.ui.search.vo.UserSearchResponse" scope="request"/>
    
	<!-- User deatils etries for HOST -->
	<bean id="userDAO" class="com.logicq.logicq.dao.user.impl.UserDAO" />
	

	<bean id="userRequest" class="com.logicq.logicq.ui.user.vo.UserRegistrationRequest" />
	<bean id="userResponse" class="com.logicq.logicq.ui.user.vo.UserRegistrationResponse" />
	
	
	<bean id="userProfilesRequest" class="com.logicq.logicq.ui.user.vo.UserProfilesRequest"/>
	<bean id="userProfilesResponse" class="com.logicq.logicq.ui.user.vo.UserProfilesResponse"/>
	<bean id="facilityVO" class="com.logicq.logicq.ui.user.vo.FacilityVO" scope="request"/>

	<!-- TaskManager entries for UI -->
	<bean id="taskBean" class="com.logicq.logicq.ui.task.bean.TaskBean" />
	<bean id="taskVO" class="com.logicq.logicq.ui.task.vo.TaskVO" />
	<bean id="taskManagedBean" class="com.logicq.logicq.ui.task.bean.TaskManagedBean" />
	<bean id="taskManagerHelper" class="com.logicq.logicq.ui.task.helper.TaskManagerHelper" />
	<!-- Addres entries for UI -->
	<bean id="addressVO" class="com.logicq.logicq.ui.address.vo.AddressVO" />
	<bean id="addressManagedBean" class="com.logicq.logicq.ui.address.bean.AddressManagedBean" />
	<bean id="addressHelper" class="com.logicq.logicq.ui.address.helper.AddressHelper" />
	<bean id="addressDAO" class="com.logicq.logicq.dao.address.impl.AddressDAO" />
	
	
	<!-- TaskManager entries for Login -->
	<bean id="loginVO" class="com.logicq.logicq.ui.login.vo.LoginVO" />
	<bean id="loginManagedBean" class="com.logicq.logicq.ui.login.bean.LoginManagedBean" />
	<bean id="loginHelper" class="com.logicq.logicq.ui.login.helper.LoginBeanHelper" />
	<bean id="loginRequest" class="com.logicq.logicq.ui.login.vo.LoginRequest" />
	<bean id="loginResponse" class="com.logicq.logicq.ui.login.vo.LoginResponse" />



    <!-- TaskManager entries for Login -->
	<bean id="fileUploadVO" class="com.logicq.logicq.ui.fileupload.vo.FileUploadVO" />
	<bean id="fileUploadManagedBean" class="com.logicq.logicq.ui.fileupload.bean.FileUploadManagedBean" />
	<bean id="fileUploadHelper" class="com.logicq.logicq.ui.fileupload.helper.FileUploadHelper" />
	<bean id="fileUploadRequest" class="com.logicq.logicq.ui.fileupload.vo.FileUploadRequest" />
	<bean id="fileUploadResponse" class="com.logicq.logicq.ui.fileupload.vo.FileUploadResponse" />
	
	
	<bean id="fileUploadImageProperties" class="com.logicq.logicq.ui.fileupload.properties.FileUploadImageProperties">
	<property name="destinationPath" value="D:\\image\\"/>
	</bean>
	
	<!-- Location -->
	<bean id="locationBeanHelper" class="com.logicq.logicq.ui.login.helper.LocationBeanHelper" />
	<bean id="alertDetailsInputVO" class="com.logicq.logicq.ui.alert.vo.AlertDetailsInputVO" />
	
	
	
</beans>