<header class="main-header">
		 <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Organization Chart Plugin</title>
 
    </header>
	 </div>
		 <div id="chart-container"></div>
  <div class="home-link">
    <a href="https://github.com/dabeng/OrgChart" >More orgcharts</a>
    <i class="fa fa-star"></i>
	<script src="assets/views/electionmgm/js/html2canvas.min.js" type="text/javascript"></script>
<script src="assets/views/electionmgm/js/jquery.orgchart.js" type="text/javascript"></script>
<script src="assets/views/electionmgm/scripts.js" type="text/javascript"></script>
  </div>
  
		
	 