.padding-zero{
    padding: 0px;
}
.padding-right-zero{
    padding-right: 0px;
}
.padding-left-zero{
    padding-left: 0px;
}
.search-icon-home .padding-left-35{
    padding-left: 35px;
}
.search-icon-home i.fa.fa-search{
	position: absolute;
    top: 29%;
    left: 1%;
    padding-left: 10px;
    color: #8E8C8C;
    z-index: 1;
}
.search-icon-home i.fa.fa-microphone{
	position: absolute;
    top: 31%;
    right: 5%;
    color: #8E8C8C;
    z-index: 1;
}
.margin-top-bottom-8{
    margin: 8px 0;
}
.gps-icon{
	position: absolute;
    right: 11%;
    top: 26%;
}
.show-icon{
	position: absolute;
    right: 3%;
    top: 26%;
}
.search-icon-home #pac-input{
	padding-left: 35px;
	height: 43px;
	width: 100%;
    margin-top: 0px;
    margin-bottom: 10px;
}
.search-icon-home #pac-input-error,.search-icon-home #pac-input-location-error, #input-specialisation-error {
    position: absolute;
    clear: both;
    width: 100%;
    color: red;
    font-size: 0.7em;
    display: block;
    text-align: left;
}
.card-body {
    padding: 20px;
    text-align: center;
}
.card-body img{
	margin-left: auto;
	margin-right: auto;
}
.tab-pane .border-box{
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    margin: 5px;
}
.border-right{
    border-right: 1px solid #E8E8E8;
}
.card-friend.doctor-appoinment .user-photo{
    width: 100%;
}
#pac-input-location, #input-specialisation{
	padding:0 15px 0 35px;
    width: 100%;
    font-size: 16px;
    font-weight: 300;
    text-overflow: ellipsis;
    color: #333;
    margin-top: 0px;
    border: 1px solid transparent;
    border-radius: 2px;
    height: 43px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
}
.card-friend .doctor-list .friend-content{
    margin-left: 0px;
}
.card-friend .doctor-list p{
    text-align: left;
    margin-top: 0px;
}
.doctor-img-show{
    text-align: center;
}
.doctor-img-show a{
    text-decoration: none;
}
.bxslider_scroll li{
    text-align: center;
    display: inline-block;
    padding: 0 18px;
}
.bx-wrapper img {
    margin-left: auto;
    margin-right: auto;
}
.card .card-body{
    text-align: left;
}
.doctor-appoinment{
    border: 1px solid #DEDEDE;
    padding: 5px;
    border-radius: 3px;
}
.pin_password{
    padding: 0 15px 0 15px;
    width: 30%;
    font-size: 16px;
    font-weight: 300;
    text-overflow: ellipsis;
    color: #333;
    border: 1px solid transparent;
    border-radius: 2px;
    height: 30px;
    outline: none;
    display: inline-block;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
.pin_label{
    color: white;
    line-height: 30px;
    margin-bottom: 0;
    display: inline-block;
}
.font-size12{
    font-size: 10px;
}
.footer-links.fot{
    border-top: 1px solid #D8D8D8;
}
.footer-box{
    padding: 5px 10px 0 !important;
    color: white; 
}
.footer-box ul{
    margin: 0px;
}
.footer-box li a{
    padding: 0px;
    float: none;
    color: #333;
}
.footer-box a.btn{
    padding: 0px;
    display: inline-block;
    width: 40px;
    margin: 0 5px;
    background: white;
    color: black;
    border-radius: 50%;
}
.footer-box a:hover.btn{
    color: black;
}
.footer-box ul li {
    display: inline-block;
    padding: 0 10px;
    font-size: 15px;
    color: #333;
}
.footer-box a.btn .fa{
    padding: 10px;
    display: inline-block;
    vertical-align: middle;
}
.avaliable_doctor .card.card-user .card-heading.heading-center .subhead{
    top:7px;
    color: white;
}
.avaliable_doctor .card.card-user .card-heading.heading-center .user-image{
    top: 40px;
}
.avaliable_doctor .card.card-user .card-heading.heading-center{
    height: 90px;
    margin-bottom: 10px;
}
.avaliable_doctor .card .card-body{
    font-size: 14px;
    padding: 15px 20px 10px;
}
.avaliable_doctor .card.card-user .card-body .social-links li{
    font-size: 14px;
    padding: 0px 5px 0 0px;
}
.avaliable_doctor .card .card-body p{ 
    margin-bottom: 0px;
}
.avaliable_doctor .card.card-user .card-body .social-links{
    text-align: left;
}
.avaliable_doctor .card.card-user .card-footer{
    padding: 10px 20px;
    text-align: left;
}
.avaliable_doctor .card.card-user .card-footer .btn{
    margin: 0px 5px 5px 0;
}
.bg-gray-dark{
    background: #3A3A3A;
}
.bg-gray-dark a{
    color: white;
}
.show-listing ul li{
    text-align: center;
    display: inline-block;
    padding: 3px 5px;
    float: left;
    width: 16%;
    cursor: pointer;
}
.show-listing ul li p{
    text-transform: capitalize;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #2095f2;
    font-weight: 400;
    line-height: 14px;
    margin: 0 2px;
    text-align: center;
    padding: 10px 0;
}
.show-listing ul li img{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.margin-top-0{
    margin-top: 0px !important;
}
.booking-box p{
    margin-bottom: 5px;
}
.title .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
    width: 100%;
}

.search-wizard.panel .steps-centered{
    top:40px;
}
.search-wizard.panel:before{
    background: transparent;
}
.search-wizard.bs-wizard .inner-tab.tab-content{
    padding: 0px;
}
.search-wizard.bs-wizard .tab-content{
    padding: 60px 0 0 0;
    min-height: 340px;
}
ul.nav.nav-tabs.tabs-left.search-doc-tabs{
    border: 0px solid transparent;
}
ul.nav.nav-tabs.tabs-left.search-doc-tabs a {
    padding: 5px 0px;
    width: initial;
}
ul.nav.nav-tabs.tabs-left.search-doc-tabs li:first-child{
    display: none;
}
ul.nav.nav-tabs.tabs-left.search-doc-tabs li{
    float: none;
    text-align: center;
}
.wizard-steps-name span.first{
    left: 20%;
    top: -40%;
}
.wizard-steps-name li.step.active span.first {
    color: black;
}
.wizard-steps-name span{
    position: absolute;
    top: -100%;
    left: 40%;
    background: #fff;
    color: #969696;
    width: 67%;
    text-align: left;
}
.wizard-steps-reg span{
    position: absolute;
    top: -100%;
    left: 36%;
    background: #fff;
    color: #969696;
    width: 67%;
    text-align: left;
}
.bg-main-white{
    background: #fff;
}
.search-wizard.panel.bs-wizard.bs-wizard-steps-with-progress ul.wizard{
    padding: 0px;
}
.search-wizard.panel > .panel-heading{
    border: 0px;
    padding-bottom: 8px;
}
.register-btn .dropdown-menu > li > a{
    font-size: 16px;
    color: #000;
    padding: 5px 6px;
    color: #fff;
}
.register-btn .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
    color: black;
}
.register-btn.open > .dropdown-menu{
    background: #2095f2;
    color: #fff;
    min-width: auto;
}
.title .bootstrap-select.btn-group .dropdown-menu.inner{
    overflow: visible !important;
}

.wizard-steps-name span.btn-primary:hover,
.wizard-steps-name span.btn-success:hover,
.wizard-steps-name span.btn-success:focus,
.wizard-steps-name span.btn-success:active,
.wizard-steps-name span.open > .dropdown-toggle.btn-success{
    background: transparent;
    color: black;
}
.wizard-steps-name li.step.active span,
.wizard-steps-name span.btn-success,
.wizard-steps-name span.btn-success:hover{
    color: #2095F2;
}
.wizard-steps-name li.step.active span.btn-sucess{
    color: #2095F2;
}

.wizard-steps-reg span.btn-primary:hover,
.wizard-steps-reg span.btn-success:hover,
.wizard-steps-reg span.btn-success:focus,
.wizard-steps-reg span.btn-success:active,
.wizard-steps-reg span.open > .dropdown-toggle.btn-success{
    background: transparent;
    color: black;
}
.wizard-steps-reg li.step.active span,
.wizard-steps-reg span.btn-success,
.wizard-steps-reg span.btn-success:hover{
    color: #2095F2;
}
.wizard-steps-reg li.step.active span.btn-sucess{
    color: #2095F2;
}
body.bg-main-white.modal-open .modal-backdrop.in{
    visibility: hidden;
}
body.bg-main-white .modal-dialog{
    text-align: left;
}
.backround-img{
  background: url('../../../assets/admin1/img/bg.jpg') fixed no-repeat;
  background-size: cover;
}
.box-border{
    border: 1px solid #D4D4D4;
    border-radius: 2px;
    margin-bottom: 5px;
}
.padding-20-top{
    padding: 20px 0;
}
.search-spacility p{
    text-align: left;
}
 .wizard-steps-name a.btn.btn-ripple.btn-success{
    background: #2095F2;
}
.padding-top-60{
    padding-top: 60px;
}
.mar-top-40m{
    margin-top: -40px;
}
.search-wizard.panel .panel-footer{
    border-top:0px solid transparent;
}
.bg-main-color{
    background:#DEDEDE;
}
.main-btn {
    padding-top: 10px;
}
.display-inline{
    display: inline-block;
}
.btn-group .fb-bg, .btn-group .fb-bg:hover{
    background: #3A5795;
}
.btn-group .gmail-bg, .btn-group .gmail-bg:hover{
    background: #EA4335;
}
#pane-login .form-buttons{
    border-top: 0px solid transparent;
}
.scroller{
    float: left;
    overflow: auto;
    padding-top: 18px;
    margin-bottom: 0px;
}
input.date-pic {
    font-size: 16px;
    border: 1px solid #D4D4D4;
    border-radius: 2px;
    padding: 5px 5px;
    width: 48%;
    line-height: 15px;
    margin-bottom: 5px;
}
.doctor-list-show h4{
    margin-bottom: 0px;
    color: #000;
    font-size: 18px;
    font-weight: 500;
}
.doctor-list-show p{
    margin-bottom: 5px;
    font-size: 15px;
}
.right-list-show p{
    margin-bottom: 0px;
    font-size: 15px;
}

.right-list-show p a, .right-list-show p a:hover{
    color: rgba(0, 0, 0, 0.87)
}
.right-list-show span{
    color: #2095F2;
}
table.table.table-bordered {
    font-size: 15px;
}
.padding-btn{
    padding: 5px;
    padding-top: 0px;
}
.panel .panel-body .padding-zero{
    padding: 0px;
} 
table.table.table-bordered th,
table.table.table-bordered td{
    padding: 3px;
    padding-left: 20px;
}
.time-slot h5{
    font-size: 15px;
    font-weight: 500;
    color: #000;
    line-height: 35px;
    vertical-align: middle;
    margin-bottom: 0px;
}
.bottom-link{
    display: inline-block;
    vertical-align: top;
    padding-top: 12px;
}
.soc{
    display: inline-block;
}
a.powered-by{
    padding: 10px 0 !important;
}
.list-show-icon img:first-child{
    width: 10%;
}
.list-show-icon img{
    width: 8.5%;
    padding: 0 5px; 
}
.left-box{
    width: 50%;
    float: left;
}
.right-box{
    width: 50%;
    float: right;
}
.gps_add{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.daterangepicker.dropdown-menu{
        min-width: 460px;
}
.daterangepicker.dropdown-menu .calendar{
    max-width: 450px;
}
.date-time .inputer label{
    left: 85%;
}
.last-page p{
    margin-bottom: 0px;
}
.bootstrap-select.btn-group .dropdown-menu.inner{
    overflow: none !important;
}
.bootstrap-select.btn-group .dropdown-menu li a {
    min-width: 100px !important;
}
.flagstrap .btn-default{
    width: 100%;
    text-align: left;
    font-size: 16px;
}
.phone .bootstrap-select.btn-group .dropdown-menu.inner{
    overflow: hidden !important;
}
.phone .bootstrap-select .btn{
    padding-left: 7px;
    padding-right: 2px;
}
.phone .bootstrap-select.btn-group .dropdown-menu li a{
    padding: 4px 15px !important;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option,
.row-centered .col-centered,
.bootstrap-select.btn-group .dropdown-menu li,
.dropdown-menu > li > a{
    font-size: 16px;
}
.doctor-select{
    padding: 5px;
    font-size: 15px;
    border: 1px solid #E5E5E5;
    margin-left: 15px;
    margin-bottom: 5px;
}
.doctor-select:first-child{
    margin-left: 0px;
}
.bootstrap-select.btn-group .btn .caret{
    right: 8px !important;
}
.form-group{
    margin-bottom: 5px !important;
}
/*Switcher*/

.onoffswitch {
    position: relative; width: 74px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFFF; border-radius: 50px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 25px; padding: 0; line-height: 25px;
    font-size: 16px; color: white; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #0AB00A; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #575454;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 22px; margin: 5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 42px;
    border: 2px solid #FFFFFF; border-radius: 50px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
.schedule-time-label{
    vertical-align: middle;
    line-height: 35px;
}
.table.table-time-req > thead > tr.info > th{
    background-color: #2095F2;
    color: white;
    font-weight: normal;
}
table.table.table-time-req.table-bordered td,
table.table.table-time-req.table-bordered th{
    padding-left: 0px;
    padding: 5px;
}
.table-time-req select.doctor-select.chosen-select{
    width: 100%;
    background: transparent;
    border: 0px;
    padding-left: 0px;
}
.table-time-req .inputer{
    margin-bottom: 0px;
}
.daterangepicker.dropdown-menu{
    min-width: 260px !important;
    font-size: 14px;
}
.gps-icon1 {
    position: absolute;
    right: 2%;
    top: 26%;
}
.bg-main-white .nav-bar-container .nav-menu{
    padding: 27px 0 27px 0;
}
.bg-main-white .nav-bar-container .nav-menu .hamburger .patty{
    background: #2095F2;
}
.menu-layer li {
    border-bottom:1px solid #ADADAD;
}
.div-space {
    display: block;
    padding: 10px;
    margin-bottom: 50px; /* SIMPLY SET THIS PROPERTY AS MUCH AS YOU WANT. This changes the space below box1 */
    text-align: justify;
}