<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Doctor at Home</title>
<meta name="description"
	content="Pleasure is responsive, material admin dashboard panel">
<meta name="author" content="Teamfox">
<meta name="viewport"
	content="width=device-width, height=device-height, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style"
	content="black-translucent">
<meta name="apple-touch-fullscreen" content="yes">
<!-- BEGIN CORE CSS -->
<link rel="stylesheet" href="/logicq/assets/admin1/css/admin1.css">
<link rel="stylesheet" href="/logicq/assets/admin1/css/doctor-at-home.css">
<link rel="stylesheet" href="/logicq/assets/globals/css/elements.css">
<!-- END CORE CSS -->
<link rel="stylesheet" href="/logicq/assets/globals/css/plugins.css">
<!-- END PLUGINS CSS -->
<!-- BEGIN SHORTCUT AND TOUCH ICONS -->
<link rel="shortcut icon" href="/logicq/assets/globals/img/icons/favicon.ico">
<link rel="apple-touch-icon"
	href="/logicq/assets/globals/img/icons/apple-touch-icon.png">

<!-- BEGIN GLOBAL AND THEME VENDORS -->
<script src="/logicq/assets/globals/js/global-vendors.js"></script>
<script
	src="/logicq/assets/globals/plugins/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
<script src="/logicq/assets/globals/scripts/forms-wizard.js"></script>
<script
	src="/logicq/assets/globals/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
<script
	src="/logicq/assets/globals/plugins/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
<script src="/logicq/assets/globals/js/pleasure.js"></script>
<script src="/logicq/assets/admin1/js/layout.js"></script>
<script src="/logicq/assets/globals/service/js/login.js"></script>
<script>
	$(document).ready(function() {
		Pleasure.init();
		Layout.init();
		FormsWizard.init();
	});
	$('#scroll').perfectScrollbar('update');
</script>
</head>
<body class="bg-main-white">
<div class="content">
							<form method="post" id="loginform" class=""
								novalidate="novalidate">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header bg-main-color">
											<div class="col-sm-6">
												<a href="https://doctorathome.in/"><img
													src="/logicq/assets/admin1/img/logo.png" /></a>
											</div>
											<!--.col-->
											<div class="col-sm-6 text-right">
												<h4 class="modal-title">Login</h4>
											</div>
											<!--.col-->
											<div class="clearfix"></div>
										</div>
										<div class="modal-body">

											<div id="pane-login" class="panel-body active">
												<div class="form-group">
													<div class="inputer">
														<div class="input-wrapper">
															<input type="email" id="email" class="form-control"
																placeholder="Enter email address">
														</div>
													</div>
												</div>
												<!--.form-group-->
												<div class="form-group">
													<div class="inputer">
														<div class="input-wrapper">
															<input type="password" id="password" class="form-control"
																placeholder="Enter password">
														</div>
													</div>
												</div>
												<!--.form-group-->
												<div class="form-buttons clearfix">
													<label class="pull-left"><input type="checkbox"
														name="remember" value="1"> Remember me</label>
													<button id="loginsubmit" class="btn btn-success pull-right">Login</button>
													<!--input type="submit" id="login"  name="Login" class="btn btn-success pull-right" value="Login"-->
												</div>
												<!--.form-buttons-->

												<ul class="extra-links margin-top-20 text-right">
													<li><a href="#" class="show-pane-forgot-password">Forgot
															password</a></li>
												</ul>
												<div class="social-accounts margin-top-20">
													<div class="btn-group btn-merged btn-group-justified">
														<div class="btn-group">
															<a class="fb-bg btn btn-social btn-blue"><i
																class="fa fa-facebook"></i> Facebook</a>
														</div>
														<div class="btn-group">
															<a class="gmail-bg btn btn-google btn-red"><i
																class="fa fa-google-plus"></i> Gmail</a>
														</div>
													</div>
												</div>
												<!--.social-accounts-->


											</div>
											<!--#login.panel-body-->



										</div>
									</div>
									<!--.modal-content-->
								</div>
								<!--.modal-dialog-->
							</form>
						</div>
						</body>
</html>