<div class="wrapper" id="admin">
<header class="main-header">
			<a href="#" class="logo"> <!-- mini logo for sidebar mini 50x50 pixels -->
				<span class="logo-mini">Logicq</span> <!-- logo for regular state and mobile devices -->
				<span class="logo-lg">School Management</span>
			</a>
			<!-- Header Navbar: style can be found in header.less -->
			<nav class="navbar navbar-static-top">
				<!-- Sidebar toggle button-->
				<a href="#" class="sidebar-toggle" data-toggle="offcanvas"
					role="button">
				</a>
				<div class="navbar-custom-menu">
					<ul class="nav navbar-nav">
						<!-- Notifications: style can be found in dropdown.less -->
						<li class="dropdown notifications-menu"><a href="#"
							class="dropdown-toggle" data-toggle="dropdown"> <i
								class="fa fa-bell-o"></i> <span class="label label-warning">10</span>
						</a>
							<ul class="dropdown-menu">
								<li class="header">You have 10 notifications</li>
								<li>
									<!-- inner menu: contains the actual data -->
									<ul class="menu">
										<li><a href="#"> <i class="fa fa-users text-aqua"></i>
												Payemnt Due
										</a></li>
									</ul>
								</li>
								<li class="footer"><a href="#">View all</a></li>
							</ul></li>

						<!-- User Account: style can be found in dropdown.less -->
						<li class="dropdown user user-menu"><a href="#"
							class="dropdown-toggle" data-toggle="dropdown"> <img
								src="dist/img/user2-160x160.jpg" class="user-image"
								alt="User Image"> <span class="hidden-xs">Sudhanshu
									Lenka</span>
						</a>
							<ul class="dropdown-menu">
								<!-- User image -->
								<li class="user-header"><img
									src="dist/img/user2-160x160.jpg" class="img-circle"
									alt="User Image">
									<p>
										Sudhanshu Lenka - Accountant/Admin
									</p></li>
								<!-- Menu Footer-->
								
									<li class="user-footer">
										<a href="#" class="btn  btn-default btn-flat btn-responsive">Sign out</a>
									</li>
							</ul></li>
					</ul>
				</div>
			</nav>
		</header>
		<aside class="main-sidebar">
			<section class="sidebar">
				<ul class="sidebar-menu">
					<li class="header">MAIN NAVIGATION</li>
					<li class="active treeview"><a href="#"> <i
							class="fa fa-dashboard"></i> <span>Admin Details</span> <i
							class="fa fa-angle-left pull-right"></i>
					</a>
						<ul class="treeview-menu">
							<li><a href="#empreg" id="empregclick"><i class="fa fa-user"></i>Employee Registration</a></li>
							<li><a href="#studreg" id="stduentregclick"><i class="fa fa-graduation-cap"></i>Student Registration</a></li>
							<li><a href="#coursedetails" id="coursesetup"><i class="fa fa-cogs"></i>Configure SMS and Email</a></li>
							<li><a href="#calendersetup" id="admincalndersetup"><i class="fa fa-calendar" aria-hidden="true"></i>Calendar Setup</a></li>
							<li><a href="#broadcast"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>View Attendance Report</a></li>
						</ul></li>
				
				<li class="active treeview"><a href="#"> <i
							class="fa fa-dashboard"></i> <span>Buget Details</span><i
							class="fa fa-angle-left pull-right"></i>
					</a>
						<li class="active treeview"><a href="#"> <i
							class="fa fa-dashboard"></i> <span>Payment&Collection Details</span><i
							class="fa fa-angle-left pull-right"></i>
					</a>
						
					<li class="active treeview"><a href="#"> <i
							class="fa fa-dashboard"></i> <span>Student Details</span> <i
							class="fa fa-angle-left pull-right"></i>
					</a>
						
					<li class="active treeview"><a href="#"> <i
							class="fa fa-dashboard"></i> <span>Employee Details</span> <i
							class="fa fa-angle-left pull-right"></i>
					</a>
				</ul>
			</section>
			<!-- /.sidebar -->
		</aside>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
					Dashboard <small>Control panel</small>
				</h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
					<li class="active">Dashboard</li>
				</ol>
			</section>
		
			<div class="row">
				
			</div>
			<section class="content-header">
			
			</section>
        </div>
</div>
